<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,100italic,100,500,700' rel='stylesheet' type='text/css'>
  {% block load_static_content %}
  {% endblock %}
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Halo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class = "main-body">
  <div class = "background-img-wrapper">
    <img class = "background-img" src = "{% static 'images/background.jpg' %}"/>
  </div>

  {% block main_body %}
  {% endblock %}
</div>

</body>
</html>
