{% extends 'base.html' %}

{% block main_body %}

  <div class = "row">
    <div class = "col-xs-12 col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
      <div class = "page-heading">
        <div class = "main-title">
      	  Halo
        </div>
      </div>
      <div class = "sub-heading">
      	<div class = "sub-title">
      	  Join a group of people dedicated to supporting those in your community.

          Free food on Fridays
      	</div>
      </div>
    </div>
  </div>

{% endblock %}
